.sidenav a {
  display: inline;
}
.menu-btn {
  width: 24px;
  line-height: 24px !important;
  margin: 0px !important;
  padding: 0px !important;
  text-align: center;
}
.navbar .navbar-form button {
  margin-bottom: 20px;
}
article.topic .title {
  font-weight: bold;
}

ul.sidenav a.back{
  font-weight: 700;
  color: #000;
}

ul.sidenav li a[href="#"] {
  display: inline-block;
  min-width: 9px;
}

ul.categorized-view h5.topic:hover{
  cursor: pointer;
  text-decoration: underline;
}

.toc #toctitle{
  display: none;
}
article.topic #header{
  display: none;
}
article.topic #header .details {
  display: none;
}
article.topic .since{
  color: #31B0C7;
  background-color: #f0f2f1;
  text-shadow: 0 1px #ffffff;
  padding: 2px 4px;
  font-size: 90%;
  border-radius: 4px;
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
  margin:0px 4px 0px 0px;
}
article[data-language='fr'] .toc:before{
  content:"Sommaire"
}
/*
// Cette classe casse complètement les thèmes de couleur
.navbar-default.navbar-light li>a:focus, .navbar-default.navbar-light li>a:hover, .navbar-default.navbar-light .active>a, .navbar-default.navbar-light .active>a:focus, .navbar-default.navbar-light .active>a:hover, .navbar-default.navbar-light .open>a:focus, .navbar-default.navbar-light .open>a:hover, .navbar-default.navbar-light .open>a, .sidenav a.active, .sidenav a:hover, .sidenav>li>a.active, .sidenav>li>a:hover, .sidenav li.active>a, .sidebar-boxed .sidenav>li>a:hover, .sidebar-boxed .sidenav>li>a.open, a, a:focus, a:hover, h1 a:before, h2 a:before, h3 a:before, .toc a:hover, .toc a:active, .tabs-text .nav-tabs>li.active a, .tabs-btn .nav-tabs li.active a, .code-tabs .languages .btn.active, .code-tabs .languages .btn:active, .promo>.fa, .promo>.glyphicon, .pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover, .pager li>a:hover {
      color: #00B3C7;
}
*/
div.imageblock .content img, div.paragraph span.image img{
  max-width: 100%;
}

/* Change font-size for better legibility */
.main-content {
    font-size: 16px;
    line-height: 21px;
    line-height: 1.6;
}

h1 {
  font-size: 40px;
  line-height: 55px;
  margin-bottom: 10px;
}


h2 {
  font-size: 23px;
  line-height: 23px;
  margin-bottom: 24px;
  margin-top: 19px;
  font-weight: 300;
  padding-bottom: 16px; 
}

h2 a {
  line-height: 33px;
}

h3 {
    font-size: 17px;
    margin-bottom: 15px;
    font-weight: 700;
}

h4 {
    font-weight: 400;
    font-size: 17px;
    margin-top: 30px;
    margin-bottom: 20px;
}
h5{
  font-weight: 400;
  font-size: 17px;
}
h6{
  font-weight: 300;
  font-size: 16px;
}
.img-thumbnail {
  margin-bottom: 20px;
}
.noborder img.img-thumbnail{
  border:none;
}

.site-header.sticky .navbar {
    border-top: 10px solid #31B0C7;  
}

.breadcrumb {
  font-family: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
  padding: 8px 0;
  margin-bottom: 20px;
}

pre .language-name {
    display: block;
    position: absolute;
    top: 7px;
    left: 15px;
}

pre.highlight{
  max-height: 500px;
}

.clipboard-copy {
  top: 4px;
  right: 4px;
}

.sidenav > li > a.active, .sidenav > li > a:hover{
  font-weight: bold;
}
/**
  Classes permettant de gérer http://www.methods.co.nz/asciidoc/chunked/ch10.html#X96
*/
#content span.underline{
  text-decoration: underline;
}
#content span.line-through{
  text-decoration: line-through;
}
#content span.white{
  color:#FFFFFF	;
}
#content span.silver{
  color:#C0C0C0	;
}
#content span.gray{
  color:#808080;
}	
#content span.black{
  color:#000000;
}
#content span.red{
  color:#FF0000	;
}
#content span.maroon{
  color:#800000;
}
#content span.yellow{
  color:#FFFF00;
}
#content span.olive{
  color:#808000;
}
#content span.lime{
  color:#00FF00;
}
#content span.green{
  color:#008000;
}
#content span.aqua{
  color:#00FFFF;
}
#content span.teal{
  color:#008080;
}
#content span.blue{
  color:#0000FF;
}
#content span.navy{
  color:#000080;
}
#content span.fuchsia{
  color:#FF00FF;
}
#content span.purple{
  color:#800080;
}

.lity-container{
  background-color: #fff;
}


/* ASCIIDOC TABLES */
table{background:#fff;margin-bottom:1.25em;border:solid 1px #dedede}
table thead,table tfoot{background:#f7f8f7}
table thead tr th,table thead tr td,table tfoot tr th,table tfoot tr td{padding:.5em .625em .625em;font-size:inherit;color:rgba(0,0,0,.8);text-align:left}
table tr th,table tr td{padding:.5625em .625em;font-size:inherit;color:rgba(0,0,0,.8)}
table tr.even,table tr.alt,table tr:nth-of-type(even){background:#f8f8f7}
table thead tr th,table tfoot tr th,table tbody tr td,table tr td,table tfoot tr td{display:table-cell;line-height:1.6}
table.tableblock.fit-content>caption.title{white-space:nowrap;width:0}
.paragraph.lead>p,#preamble>.sectionbody>[class="paragraph"]:first-of-type p{font-size:1.21875em;line-height:1.6;color:rgba(0,0,0,.85)}
table.tableblock #preamble>.sectionbody>[class="paragraph"]:first-of-type p{font-size:inherit}
.admonitionblock>table{border-collapse:separate;border:0;background:none;width:100%}
.admonitionblock>table td.icon{text-align:center;width:80px}
.admonitionblock>table td.icon img{max-width:none}
.admonitionblock>table td.icon .title{font-weight:bold;font-family:"Open Sans","DejaVu Sans",sans-serif;text-transform:uppercase}
.admonitionblock>table td.content{padding-left:1.125em;padding-right:1.25em;border-left:1px solid #ddddd8;color:rgba(0,0,0,.6)}
.admonitionblock>table td.content>:last-child>:last-child{margin-bottom:0}
table.tableblock{max-width:100%;border-collapse:separate}
p.tableblock:last-child{margin-bottom:0}
td.tableblock>.content{margin-bottom:-1.25em}
table.tableblock,th.tableblock,td.tableblock{border:0 solid #dedede}
table.grid-all>thead>tr>.tableblock,table.grid-all>tbody>tr>.tableblock{border-width:0 1px 1px 0}
table.grid-all>tfoot>tr>.tableblock{border-width:1px 1px 0 0}
table.grid-cols>*>tr>.tableblock{border-width:0 1px 0 0}
table.grid-rows>thead>tr>.tableblock,table.grid-rows>tbody>tr>.tableblock{border-width:0 0 1px}
table.grid-rows>tfoot>tr>.tableblock{border-width:1px 0 0}
table.grid-all>*>tr>.tableblock:last-child,table.grid-cols>*>tr>.tableblock:last-child{border-right-width:0}
table.grid-all>tbody>tr:last-child>.tableblock,table.grid-all>thead:last-child>tr>.tableblock,table.grid-rows>tbody>tr:last-child>.tableblock,table.grid-rows>thead:last-child>tr>.tableblock{border-bottom-width:0}
table.frame-all{border-width:1px}
table.frame-sides{border-width:0 1px}
table.frame-topbot,table.frame-ends{border-width:1px 0}
table.stripes-all tr,table.stripes-odd tr:nth-of-type(odd){background:#f8f8f7}
table.stripes-none tr,table.stripes-odd tr:nth-of-type(even){background:none}
th.halign-left,td.halign-left{text-align:left}
th.halign-right,td.halign-right{text-align:right}
th.halign-center,td.halign-center{text-align:center}
th.valign-top,td.valign-top{vertical-align:top}
th.valign-bottom,td.valign-bottom{vertical-align:bottom}
th.valign-middle,td.valign-middle{vertical-align:middle}
table thead th,table tfoot th{font-weight:bold}
tbody tr th{display:table-cell;line-height:1.6;background:#f7f8f7}
tbody tr th,tbody tr th p,tfoot tr th,tfoot tr th p{color:rgba(0,0,0,.8);font-weight:bold}
p.tableblock>code:only-child{background:none;padding:0}
p.tableblock{font-size:1em}
/* /ASCIIDOC TABLES */

pre span.language-name{
  display: none;
}